<% layout('/layouts/boilerplate') %>


    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <%- include('../partials/flash') %>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let total=0; for (value of cartAgregate){ %>
                                    <% for(values of value.products){ %>
                                        <tr>
                                            <td class="cart__product__item">
                                                <img src=" <%=values.image[0].url %>" alt="" height="120" width="120">
                                                <div class="cart__product__item__title">
                                                    <h6>
                                                        <%=values.product_name%>
                                                       
                                                    </h6>
                                                  <P>
                                                    <%=value.size%>
                                                  </P>
                                                </div>
                                            </td>
                                            <td class="cart__price">
                                                <%=values.price %>
                                            </td>

                                            <td class="cart__quantity">
                                                <div class="pro-qty">
                                                    <button class="dec qtybtn" style="border:none; background:none" <%=value.itemQuantity==1 ? 'disabled' :''%>onclick="changeQuantity('<%=value._id%>','<%=values._id%>','<%=value.size%>','-1')">
                                                        -
                                                      
                                                </button>
                                                    <input type="text" value="<%=value.itemQuantity%>" readonly>
                                                    <button class="inc qtybtn" style="border:none; background:none"
                                                        onclick="changeQuantity('<%=value._id%>','<%=values._id%>','<%=value.size%>','1')">+</button>
                                                </div>
                                            </td>
                                            <td class="cart__total"><%const sum= values.price*value.itemQuantity; total+=sum %><%=sum%></td>
                                            <td class="cart__close"><button onclick="removeProduct('<%=values._id%>')" class="icon_close" style="border:none;background:none"></button></td>
                                        </tr>
                                        <div id="sum">

                                        </div>
                                        <%} %>
                                            <%} %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="/">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="/cart/"><span class="icon_loading"></span> Update cart</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                        <h6>Discount codes</h6>
                        <form action="">
                            <input type="text" name="coupon" id="coupon" placeholder="Enter your coupon code">
                            <button type="button" id="couponBtn" class="site-btn">Apply</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <% let discount=0 %> 
                        <%let subtotal= total-discount %> 
                        <input type="text"hidden id="total" value="<%=total%>">
                        <ul id="coupon">
                            <li>Discount <span id="discount">₹</span></li>
                            <li>Total <span id="subtotal">₹<%=subtotal %></span></li>
                        </ul>
                        <button id="checkout" type="button" onclick="discount()"  class="btn btn-danger pl-5 pr-5 rounded-pill"> Proceed  to  checkout </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->

    <!-- Instagram Begin -->
    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function changeQuantity(cartId, proId,size, count) {
            $.ajax({
                url: '/cart/change-product-qt',
                data: {
                    cart: cartId,
                    product: proId,
                    size:size,
                    count: count
                },
                method: 'post',
                success: location.reload()
            })
        }

        function removeProduct(proId) {
            $.ajax({
                url: '/cart/cartItemDelete',
                data: {
                    product: proId,
                },
                method: 'post',
                success:  location.reload()
            })
        }
       

    </script>
    <script>
        

        let id = ' '
        let discountValue = ' '

        document.getElementById('couponBtn').addEventListener('click',(e)=>{
           const couponMain = document.getElementById('coupon')
           const total = document.getElementById('total')
          const subtotal = document.getElementById('subtotal')
           let sub = total.value
           console.log(sub)
           const discountId = document.getElementById('discount')
        //    console.log(object);
           const  couponName = couponMain.value
           fetch('/coupon/compare', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({couponName})
            }).then(res=> res.json()).then(data=>{
                //   console.log(data.dis)
            //   location.reload()
           sub =parseInt(sub)
        //    console.log(type)
        let subTotal = ''
        let totalA = (sub*data.dis)/100
        let check =typeof(data.dis)
        console.log('sas',check)
          if(totalA> data.maximumLimit){
              subTotal = data.maximumLimit
          }
          else{
            subTotal = totalA
          }
        //    console.log(typeof(totalA)) 
            
           
                discountValue= `<large>₹${subTotal}</large>`
                
             
            const totalSub   =`<large>₹${sub-subTotal}</large>`   
        //       console.log(check)
        //    console.log(subtotal)
          
            id = data.id
            console.log(id)
          console.log(check)
            if(check=='number') {
           discountId.innerHTML = discountValue
           subtotal.innerHTML=totalSub 
            }
            else {
                console.log('error')
            }
           
            
            })
        })
       function discount(){
            window.location=('/checkout?_id='+id)
        }
    </script>
       
           
         
         
      
