
<% layout('/layouts/boilerplate') %>
<!-- Checkout Section Begin -->

<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a href="#">Have a coupon?</a> Click
                here to enter your code.</h6>
            </div>
        </div>
        
        <form action="/" class="checkout__form" id="form" method="post">
            <div class="row">
                <div class="col-lg-8">
                    <h5>select address</h5>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-check">
                                <input type="text" value="<%=user.firstName%><%=user.lastName%>" name="name" id="name" hidden>
                                <input type="text" value="<%=user.email%>>" name="email" hidden>
                                <input type="text" value="<%=user.mobile%>" name="mobile" hidden>
                                    <%let number=1;let total=0; user.address.forEach(address => { %>
                            
                                    <input class="form-check-input" type="radio" name="address_line" id="radio" value="<%=address.address_line%>,<%=address.town%>,<%=address.state%><%=address.country%>,<%=user.mobile%>,<%=address.post_code%>" required>  
                                     
                                    <address class="form-check-label" for="flexRadioDefault1">
                                        <label style="font-weight:bold;">address <%=number%> </label>
                                        <br>
                                        <%=user.firstName%> <%=user.lastName%><br> 
                                        <%=address.address_line%>,
                                        <%=address.town%>,
                                        <%=address.state%><br> 
                                        <%=address.country%><br> 
                                        <%=user.mobile%><br> 
                                        <%=address.post_code%><br> 
                                        
                                    </address>

                                    <%number++});%> 
                                </div>
                            </div>  
                            <div class="col-12">
                                <div class="col-lg-6">
                                  
                                    <button type="button" class="btn btn-danger rounded-pill mt-3" data-toggle="modal"
                                        data-target="#exampleModalCenter">add new address</button>
                                </div>
                            </div>                     
                        </div>
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="checkout__order">
                            <h5>Your order</h5>
                            <div class="checkout__order__product">
                                <ul>
                                    <li>
                                        <span class="top__text">Product</span>
                                        <span class="top__text__right">Total</span>
                                        </li>
                                        <% cart.forEach((carts)=>{%>
                                            
                                    <li> <%const productName=carts ? carts.products[0].product_name:' ' %> <%=productName%> 
                                        <span>₹<%const sum= carts.products[0].price *carts.itemQuantity; total+=sum %><%=sum%> </span></li>
                                    <%}) %> 
                                  
                                </ul>
                            </div>
                            <div class="checkout__order__total">
                                <ul>
                                    <li> discount  <span>₹<% let test = typeof(findCoupon.dicount);let discount= (total*findCoupon.dicount)/100%><% if(discount > findCoupon.maximumLimit){discount=findCoupon.maximumLimit}%> <% if(test=='number'){%> <%=discount%><% } else{%> <%='0'%><% } %> </span> </li>
                                    <li>Total <span>₹<%=total%></span></li>
                                    <li>Sub total <span>₹ <%let subTotal=''; if(test=='number'){%><%subTotal =total-discount%> <%=subTotal%><% } else{%><% subTotal =total%> <%=subTotal%><% } %> </span></li>
                                    <input type="text" name="bill" value="<%=subTotal%>" hidden>
                                </ul>
                            </div>
                            <div class="checkout__order__widget ">
                                <label for="check-payment">
                             Cash on delivery
                                    <input type="radio" id="check-payment" name="paymentStatus" class="paymentStatus" value="cod" required>
                                    <span class="checkmark"></span>
                                </label>
                                <label for="paypal">
                                   Razorpay
                                    <input type="radio" id="paypal" name="paymentStatus" class="paymentStatus" value="online" required>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <button type="submit" class="site-btn" id="submit">Place oder</button>
                        </div>
                    </div>
                </div>
              <input type="text" value="<%=cart[0]._id%>" name="cart_id" hidden>
            </form>
        </div>
    </section>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered  modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">add address</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <section class="checkout spad">
                                <div class="container">
                                    
                                    <form action="/checkout?_method=PUT" class="checkout__form" method="post">
                                        <div class="row">
                                            <div class="col-lg-2"></div>
                                            <div class="col-lg-10">
                                                <h5>user profile</h5>
                                                <div class="row">
                                                    <div class="col-6">
                                                    
                                                        <div class="checkout__form__input">
                                                            <p> first name<span>*</span></p>
                                                            <input type="text" value="" name="firstName"required>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="checkout__form__input">
                                                            <p>Last Name <span>*</span></p>
                                                            <input type="text" value="" name="lastName"required>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="checkout__form__input">
                                                            <p>Country <span>*</span></p>
                                                            <input type="text" value="" name="country"required>
                                                        </div> 
                                                        </div>
                                                        <div class="col-lg-6">
                                                        <div class="checkout__form__input">
                                                            <p>Address <span>*</span></p>
                                                            <input type="text" placeholder="Street Address" value="" name="address_line"required>
                                                          
                                                        </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                        <div class="checkout__form__input">
                                                            <p>Town/City <span>*</span></p>
                                                            <input type="text" value="" name="town"required>
                                                        </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                        <div class="checkout__form__input">
                                                            <p>State <span>*</span></p>
                                                            <input type="text" value="" name="state"required>
                                                        </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                        <div class="checkout__form__input">
                                                            <p>Postcode/Zip <span>*</span></p>
                                                            <input type="text" value="" name="post_code"required >
                                                        </div>
                                                        </div>
                                                   
                                                    <div class="col-6">
                                                        <div class="checkout__form__input">
                                                            <p>Phone <span>*</span></p>
                                                            <input type="text" value="" name="mobile" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="checkout__form__input">
                                                            <p>Email <span>*</span></p>
                                                            <input type="text" value="" name="email" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        </div>
                                                
                                                    
                                                    <div class="col-lg-12 d-flex justify-content-center">
                            
                                                        <button type="add" class="btn-dark rounded-pill" >  add address  </button>
                                                    </div>
                                                 </div> 
                                                         
                                            </div>
                                        </form>
                                    </div>
                                </div>
                              
                            </section>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                         
                        </div>
                    </div>
                </div>
            </div>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
        // console.log('DFJKDASDSJKFSD;FJDF;KJDSA')

      let form = document.querySelector('#form')
      form.addEventListener("submit", (e)=> {
        console.log('DFJKDAS;FJDSFDSJKFSD;FJDF;KJDSA')
        e.preventDefault();
          const paymentStatus =form.elements.paymentStatus.value;
          const  name = form.elements.name.value;
          const email = form.elements.email.value;
          const mobile = form.elements.mobile.value;
          const address_line =  form.elements.address_line.value;
          const cart_id = form.elements.cart_id.value;
          const bill = form.elements.bill.value;
            fetch('/checkout/order', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({paymentStatus,name,email,mobile,address_line,cart_id,bill})
            }).then(res=> res.json()).then(data=>{
                // console.log(data.cod)
                if(data.cod == true){
                    console.log('done maate')
                    swal("Order placed", "Your order is successfuly placed", "success").then((value) => {
                        window.location ='/users/orders'
                    })
                }
                else{
                    razerpayFunction(data.options, data.userDetails, data.orderId)
                }
            })
            // }).then(res => res.json()).then(data => {
            //     let productDetails = data.product;
        
          
        });
        function razerpayFunction(payDetails, userDetails, orderId) {
         
            let options = {
                "key": "rzp_test_n8fwEdcfpjW6SY",
                "amount": payDetails.amount,
                "currency": "INR",
                "name": "strider",
                "description": "MyStore Payment",
                "image": "http://localhost:3000/user/img/logo.png",
                "order_id": orderId,
                "handler": function (response) {
                    paymentSuccess(response, payDetails, userDetails, orderId);
                },
                "prefill": {
                    "name": userDetails.fullName,
                    "email": userDetails.email,
                    "contact": userDetails.mobile
                },
                "notes": {
                    "address": userDetails.address
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            let rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function (response) {
                window.location = '/gp/checkout/paymentFail';
            });
            rzp1.open();
            e.preventDefault();
        }
function paymentSuccess(response,payDetails,userDetails,orderId) {
fetch('/checkout/verify', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({ response,payDetails,userDetails,orderId })
}).then(res => res.json()).then(data => {
    if(data.paymentStatus == 'success') {
        // console.log(data.paymentStatus)
        swal("Order placed", "Your order is successfuly placed", "success").then((value) => {
            window.location = '/checkout/orderSuccess?id='+data.payDetails.receipt;
                    })
       
    }else {
        window.location = '/checkout/paymentFail';
    }
});
}
  </script>