<!-- Page Preloder -->
<% layout('/layouts/boilerplate') %>

    <!-- Header Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item set-bg"
                        data-setbg="<%=banner[4].imageOne[0].url %>">
                        <div class="categories__text">
                            <h1 ><%=banner[4].bannerOne %></h1>
                            <p><%=banner[4].desc%></p>
                            <a href="/women">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="<%=banner[3].imageOne[0].url %>">
                                <div class="categories__text">
                                    <h4><%=banner[3].bannerOne %></h4>
                                    <p><%=banner[3].desc %></p>
                                    <a href="/men">Shop now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="<%=banner[2].imageOne[0].url %>">
                                <div class="categories__text">
                                    <h4><%=banner[2].bannerOne %></h4>
                                    <p><%=banner[2].desc %></p>
                                    <a href="/men">Shop now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg=" <%=banner[1].imageOne[0].url %>">
                                <div class="categories__text">
                                    <h4><%=banner[1].bannerOne%></h4>
                                    <p><%=banner[1].desc %></p>
                                    <a href="/men">Shop now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg=" <%=banner[0].imageOne[0].url %>">
                                <div class="categories__text">
                                    <!-- <h4>Accessories</h4>
                                    <p>792 items</p>
                                    <a href="#">Shop now</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>New products</h4>
                    </div>
                </div>
              
            </div>

            <div class="row property__gallery">
                <%for(value of product){%>
                    <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                     
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="<%=value.image[0].url%>">
                                <div class="label new">New</div>
                                <ul class="product__hover">
                                    <li><a href="<%=value.image[0].url%>" class="image-popup"><span
                                                class="arrow_expand"></span></a></li>
                                  <li><a><button style="background: none;
                                        color: inherit;
                                        border: none;
                                        padding: 0;
                                        font: inherit;
                                        cursor: pointer;
                                        outline: inherit; border:none;" onclick="invoke('<%=value.id%>')"><span class="icon_heart_alt"></button></span></a></li>
                                    <li><a href="/details/<%=value.id%>"><span class="icon_bag_alt"></span></a></li>
                                </ul>
                            </div>
                        
                        


                            <div class="product__item__text">
                                <h6><a href="/details/<%= value.id %> ">
                                        <%=value.product_name%>

                                    </a></h6>
                                <!-- <div class="rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div> -->
                                <div class="product__price">
                                    ₹<%=value.price%> <strike>
                                            ₹<%=value.mrp%>
                                        </strike>
                                </div>
                            </div>
                        </div>
                 
                    </div>
                    <% } %>
                        
            </div>
    </section>
   
    <section class="trend spad">
        <div class="container">
            <div class="row">
                
                
        </div>
    </section>
   
    <section class="discount">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="discount__pic">
                        
                        <div style="background-image:url(<%=discount[0].imageOne[0].url%>);height:390px; background-size: cover;";></background-size>>sasas </div>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="discount__text">
                        <div class="discount__text__title">
                            <span>Discount</span>
                            <h2><%=discount[0].name%></h2>
                            <h5><span>use:</span><%=discount[0].couponName%></h5>
                            <h5><span>to get</span><%=discount[0].discount%>%</h5>
                            <input id="expiry" type="text"value="<%=date%>" hidden>
                        </div>
                        <div class="discount__countdown" id="countdown-tim">
                            <div class="countdown__item">
                                <span id="days">22</span>
                                <p>Days</p>
                            </div>
                            <div class="countdown__item">
                                <span id="hours">18</span>
                                <p>Hour</p>
                            </div>
                            <div class="countdown__item" >
                                <span id="mins" >46</span>
                                <p>Min</p>
                            </div>
                            <div class="countdown__item">
                                <span id="secs">05</span>
                                <p>Sec</p>
                            </div>
                        </div>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-car"></i>
                        <h6>Free Shipping</h6>
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-money"></i>
                        <h6>Money Back Guarantee</h6>
                        <p>If good have Problems</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-support"></i>
                        <h6>Online Support 24/7</h6>
                        <p>Dedicated support</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-headphones"></i>
                        <h6>Payment Secure</h6>
                        <p>100% secure payment</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        const expiry = document.getElementById('expiry').value
        console.log(expiry)
		// The data/time we want to countdown to
		let countDownDate = new Date(expiry).getTime();

		// Run myfunc every second
		let myfunc = setInterval(function () {

			let now = new Date().getTime();
			let timeleft = countDownDate - now;

			// Calculating the days, hours, minutes and seconds left
			let days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
			let hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			let minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
			let seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

			// Result is output to the specific element
			document.getElementById("days").innerHTML = days 
			document.getElementById("hours").innerHTML = hours 
			document.getElementById("mins").innerHTML = minutes 
			document.getElementById("secs").innerHTML = seconds 

			// Display the message when countdown is over
			if (timeleft < 0) {
				clearInterval(myfunc);
				document.getElementById("days").innerHTML = ""
				document.getElementById("hours").innerHTML = ""
				document.getElementById("mins").innerHTML = ""
				document.getElementById("secs").innerHTML = ""
				document.getElementById("end").innerHTML = "TIME UP!!";
			}
		}, 1000);
	</script>
    <!-- Footer Section Begin -->
    <script>

        function invoke(id){
           console.log('hello')
               // event.preventDefault()
               console.log(id);
               fetch("/wishlist/add", {
                   method: "POST",
                   headers: { 'Content-Type': 'application/json' },
                   body: JSON.stringify({ id })
               }).then(res => res.json()).then(data => {
                
                swal("Good job!", "Item successfully added to wishlist!", "success");
                   
               })
         }           
</script>
