<% layout('/layouts/boilerplate') %>

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <a class="pt active" href="#product-1">
                                <img src="<%=product.image[0].url%> " alt="">
                            </a>
                            <% if(product.image.length>1) {%>
                                <a class="pt" href="#product-2">

                                    <img src="<%=product.image[1].url%>" alt="">
                                </a>
                                <% } %>
                                    <% if(product.image.length>2) {%>
                                        <a class="pt" href="#product-3">
                                            <img src="<%=product.image[2].url%>" alt="">
                                        </a>
                                        <% } %>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <img data-hash="product-1" class="product__big__img" src="<%=product.image[0].url%>"
                                    alt="">
                                <% if(product.image.length>1) {%>
                                    <img data-hash="product-2" class="product__big__img" src="<%=product.image[1].url%>"
                                        alt="">
                                    <% } %>
                                        <% if(product.image.length>2) {%>
                                            <img data-hash="product-3" class="product__big__img"
                                                src="<%=product.image[2].url%>" alt="">
                                            <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>
                            <%=product.product_name%>

                                <span>
                                    <%=brandLookup[0].brand[0].brand%>
                                </span>

                        </h3>

                        <div class="product__details__price">₹<%=product.price%> <span>₹<%=product.mrp%> </span></div>

                        <p>
                            <%=product.description%>
                        </p>
                        <form action="/cart" method="post">
                            <div class="product__details__button">
                                <div class="quantity">
                                    <span>Quantity:</span>
                                    <div class="pro-qty">
                                        <span class="dec qtybtn" style="border:none; background:none">

                                            -
                                        </span>
                                        <input type="text" value="1" name="product_quantity" readonly>
                                        <span class="inc qtybtn" style="border:none; background:none">

                                            +
                                </>
                                    </div>
                                </div>
                                
                                <input type="text" value="<%=product._id%>" name="product_id" hidden>
                                <button class="cart-btn" id="add-to-cart" style="border:none;"><span
                                        class="icon_bag_alt"></span>
                                    Add to
                                    cart</button>

                                <ul>
                                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    <li><a href="#"><span class="icon_adjust-horiz"></span></a></li>
                                </ul>
                            </div>

                            <div class="product__details__widget">
                                <ul>
                                    <li>
                                        <span>Availability:</span>
                                        <!-- <div class="stock__checkbox"> -->
                                        <label for="stockin">
                                            <div id="in_stock">

                                            </div>

                                            <!-- <input type="checkbox" id="stockin">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div> -->
                                    </li>

                        </form>
                        <li>
                            <span>Available size: </span>
                            <div class="size__btn">
                                <% let t=7;if(product.product_size.small_stock>0 ) {%>
                                    <label for="s-btn" class="active">
                                        <input type="radio" id="s-btn" value="small_size" name="product_size" checked>
                                        s
                                    </label>
                                    <% }else{ t=1; } if(product.product_size.medium_stock>0) { %>


                                        <label for="m-btn" <% if(t===1) {%> class="active" <% }%>>
                                                <input type="radio" id="m-btn" value="medium_size" name="product_size"
                                                    <% if(t===1) {%>checked="checked" <% }%> >
                                                    m
                                        </label>

                                        <% }else{t=2} if(product.product_size.large_stock>0) {%>


                                            <label for="l-btn" <% if(t===2) {%> class="active" <% }%>
                                                    >
                                                    <input type="radio" id="l-btn" value="large_size"
                                                        name="product_size" <%if(t===2) {%>checked="checked" <% }%> >
                                                        l
                                            </label>
                                            <% }%>
                                        </div>
                                    </li>
                                    <li>
                                        <span>Promotions:</span>
                                        <p>Free shipping</p>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="product__details__tab">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
                                        </li>
                                    </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                    <h6>Description</h6>
                                    <p>
                                        <%=product.description%>
                                    </p>
                                </div>

                            </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
                <% for(value of relatedProducts) {%>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="<%=value.image[0].url%>">

                                <ul class="product__hover">
                                    <li><a href="<%=value.image[0].url%>" class="image-popup"><span
                                                class="arrow_expand"></span></a></li>
                                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">
                                        <%= value.product_name %>
                                    </a></h6>

                                <div class="product__price">₹<%=value.price%><span>₹<%=value.mrp%> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Instagram Begin -->
    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script>
        const checkBox = document.getElementById("s-btn");
        const checkBox2 = document.getElementById("m-btn");
        const checkBox3 = document.getElementById('l-btn');
        const addToCart = document.getElementById('add-to-cart')
        checkBox.addEventListener("click", function () {
            let productId = checkBox.value;

            const inStock = document.getElementById('in_stock');
            let option = '';
            fetch('/fetch', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ productId })
            }).then(res => res.json()).then(data => {
                let productDetails = data.product;
                if (productDetails.product_size[0].small.small_stock > 0) {
                    option += `<span id="size_of" name="sizeof">instock</span>`;
                    inStock.innerHTML = option;
                } else {
                    inStock.innerHTML = `<span id="size_of" name="sizeof"> out of stock</span>`;
                }

            })
        });
        checkBox2.addEventListener("click", function () {
            let productId = checkBox.value;

            const inStock = document.getElementById('in_stock');
            let option = '';
            fetch('/fetch', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ productId })
            }).then(res => res.json()).then(data => {
                let productDetails = data.product;
                if (productDetails.product_size[0].medium.medium_stock > 0) {
                    option += `<span id="size_of" name="sizeof">instock</span>`;
                    inStock.innerHTML = option;
                } else {
                    inStock.innerHTML = `<span id="size_of" name="sizeof"> out of stock</span>`;
                }

            })
        });
        checkBox3.addEventListener("click", function () {
            let productId = checkBox.value;

            const inStock = document.getElementById('in_stock');
            let option = '';
            fetch('/fetch', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ productId })
            }).then(res => res.json()).then(data => {
                let productDetails = data.product;
                if (productDetails.product_size[0].large.large_stock > 0) {
                    option += `<span id="size_of" name="sizeof">instock</span>`;
                    inStock.innerHTML = option;
                } else {
                    inStock.innerHTML = `<span id="size_of" name="sizeof"> out of stock</span>`;
                }

            })
        });
        checkBox.addEventListener("click", function () {
            let productId = checkBox.value;

            const inStock = document.getElementById('in_stock');
            let option = '';
            fetch('/fetch', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ productId })
            }).then(res => res.json()).then(data => {
                let productDetails = data.product;
                if (productDetails.product_size[0].small.small_stock > 0) {
                    option += `<span id="size_of" name="sizeof">instock</span>`;
                    inStock.innerHTML = option;
                } else {
                    inStock.innerHTML = `<span id="size_of" name="sizeof"> out of stock</span>`;
                }

            })
        });

    </script> -->
    <!-- Instagram End -->

    <!-- Footer Section Begin -->